:root {
    --darkCyan: hsl(185, 75%, 39%);
    --veryDarkBlue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
  }
  
  /* -- GENERAL -- */
  
  html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    background-color: var(--darkCyan);
    background-image: url('images/bg-pattern-bottom.svg'), url('images/bg-pattern-top.svg');
    background-position: left 50vw top 50vh, right 50vw bottom 50vh;
    background-repeat: no-repeat;
    color: var(--darkGray);
    overflow-x: hidden;
  }
  
  /* -- PROFILE CARD -- */
  
  main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem;
  }
  
  main .profile-card {
    width: 100%;
    max-width: 21.875rem;
    background-color: #fff;
    border-radius: 0.875rem;
    overflow: hidden;
  }
  
  main .bg-image {
    position: relative;
    background: #fff url('images/bg-pattern-card.svg') no-repeat;
    height: 8.75rem;
  }
  
  main .bg-profile-img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  main .bg-profile-img img {
    border-radius: 50%;
    border: 0.3125rem solid #fff;
  }
  
  main .profile-info {
    margin: 4.6875rem 0.9375rem 0.9375rem;
    text-align: center;
  }
  
  main .profile-id span {
    font-weight: 700;
    margin-right: 0.625rem;
    color: var(--veryDarkBlue);
  }
  
  main .location {
    font-size: 0.875rem;
    margin-top: 0.625rem;
  }
  
  main .profile-stats {
    display: flex;
    justify-content: space-around;
    margin: 2rem 1.25rem 0.4375rem;
  }
  main .profile-stats .followers, 
  main .profile-stats .likes, 
  main .profile-stats .photos {
    text-align: center;
    margin: 1.25rem 0;
  }
  
  main .profile-stats .stats-nb {
    font-weight: 700;
    color: var(--veryDarkBlue);
  }
  
  main .profile-stats .stats-name {
    text-transform: capitalize;
    font-size: 0.625rem;
    margin-top: 0.375rem;
    letter-spacing: 0.1rem;
  }
  footer{
      text-align: center;
      margin-top: -20px;
  }
  .attribution{
      color: var(--darkGrayishBlue);
  }